<div class="relative overflow-hidden" style="border: 1px solid rgba(179, 179, 179, 0.516);">
    <img class="object-center" width="100%" src="https://bharatoutfit-media.s3.ap-south-1.amazonaws.com/test_file.jpg"
        alt="product image" />
    <span class="p-1 m-2 rounded-md absolute top-0 left-0 w-fit bg-black text-center text-sm text-white">
        TREND
    </span>
    <div class="absolute top-0 right-0 bg-yellow-300 rounded-full shadow-md m-2 cursor-pointer">
        <img width="35px" src="./../../../../assets/iocns/film-reel-cinema-svg.svg">
    </div>

    <div class="mt-4 px-2 pb-2">
        <h5 class="text-xl font-semibold tracking-tight text-slate-900 truncate">SAFARI</h5>
        <h2 class="text-gray-400 text-sm truncate">Medium 30 L Laptop Backback for all genders</h2>

        <div class="flex flex-row items-center space-x-2 align-middle ">
            <p class="text-green-600 font-bold">26% off</p>
            <p class="flex flex-row space-x-1 items-center">
                <span class="text-sm font-semibold text-slate-900 opacity-60 line-through">₹ 750</span>
                <span class="text-lg font-bold text-gray-600">₹ 250</span>&nbsp;
            </p>
        </div>
    </div>

    <div class="flex flex-row space-x-1 px-2 pb-5">
        @for (rate of getRating(); track rate.id) {
        <img width="15px" src="./../../../../assets/iocns/star-sharp-svg.svg" />
        }
    </div>
    <!-- 
    <div class="flex flex-row justify-start flex-wrap">
        <p class="m-1 bg-green-300 rounded-full p-1 font-bold text-xs border-2 border-black">AMAZON</p>
        <p class="m-1 bg-green-300 rounded-full p-1 font-bold text-xs border-2 border-black">FLIPKART</p>
        <p class="m-1 bg-green-300 rounded-full p-1 font-bold text-xs border-2 border-black">MEESHO</p>
    </div>
-->
</div>