<div class="flex flex-col justify-center font-semibold">
    <div class="flex flex-col p-2">
        <div>Personal information</div>
        <div class="flex flex-row flex-wrap m-2">
            <input class="button-13 m-1" type="text" placeholder="First Name">
            <input class="button-13 m-1" type="text" placeholder="Middle Name">
            <input class="button-13 m-1" type="text" placeholder="Last Name">
        </div>
    </div>
    <div class="flex flex-col p-2">
        <div>Gender</div>
        <div class="flex flex-row flex-wrap space-x-2 m-2">
            Male&nbsp;&nbsp;<input class="mr-4" type="radio" name="gender">
            Female&nbsp;&nbsp;<input type="radio" name="gender">
        </div>
    </div>
    <div class="flex flex-col p-2">
        <div>Contact No.</div>
        <input class="button-13 m-2" type="phone" placeholder="Phone number">
    </div>
    <div class="flex flex-col p-2">
        <div>Email</div>
        <input class="button-13 m-2" type="email" placeholder="Email id">
    </div>
    <div class="button-13 self-end m-2">Save</div>
</div>