@if (appUiService.sortFilterSignal()) {
<app-sort-filter></app-sort-filter>
}

@if (appUiService.allFilterSignal()) {
<app-all-filter></app-all-filter>
}
<div class="h-full w-full">
    @if (device.device()) {
    <div class="p-2 h-full w-full flex flex-row justify-between align-middle">
        <div class="flex flex-row justify-center w-full space-x-2" (click)="appUiService.toggleSortFilterSignal()">
            <span class="material-symbols-outlined">
                sort
            </span>
            <span class="font-semibold">Sort</span>
        </div>
        <div class="flex flex-row justify-center w-full space-x-2" (click)="appUiService.toggleAllFilterSignal()">

            <span class="material-symbols-outlined">
                filter_alt
            </span>
            <span class="font-semibold">Filter</span>
        </div>
    </div>
    }
    <div class="flex flex-row mt-6">
        @if (!device.device()) {
        <app-all-filter class="mr-2 border-r-2 left-filter-desktop"></app-all-filter>
        }
        <div [ngClass]="{'product-container-mobile' : device.device(), 'product-container-desktop' : !device.device(),}">
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
            <app-product-card [routerLink]="['.', '1234']"></app-product-card>
        </div>
    </div>
</div>