<div class="fixed w-full h-screen bg-black opacity-20" style="z-index: 1;" (click)="closeLeftSideNavBar()">.</div>
<div class="animated-div absolute min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800"
    style="z-index: 2;">
    <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r">
        <div class="flex items-center justify-center h-14 border-b">
            <div>Bharat OutFit</div>
        </div>
        <div class="overflow-y-auto overflow-x-hidden flex-grow">
            <ul class="flex flex-col py-4 space-y-1 justify-between h-full">
                <ul>
                    <li [routerLink]="['/account']">
                        <a
                            class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <span class="material-symbols-outlined">
                                    settings_account_box
                                </span>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">My Account</span>
                            <span
                                class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <span class="material-symbols-outlined">
                                    list_alt
                                </span>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
                                    </path>
                                </svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Notifications</span>
                            <span
                                class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">2</span>
                        </a>
                    </li>
                    <hr class="my-2">
                    <li>
                        <a href="#"
                            class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <span class="material-symbols-outlined">
                                    rocket_launch
                                </span>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Offers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <span class="material-symbols-outlined">
                                    redeem
                                </span>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Coupons</span>
                            <span
                                class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-500 bg-green-50 rounded-full">15</span>
                        </a>
                    </li>
                </ul>

                <ul>
                    @if (!this.authService.userAuthState.userState.isLoggedIn()) {
                        <li class="p-2">
                            <div class="w-full p-2 bg-green-500 text-center rounded-md font-semibold">Login & Signup</div>
                        </li>
                        <li class="p-2 flex flex-row space-x-2 justify-center">
                            <a (click)="googleSigin()" class="cursor-pointer">
                                <img class="h-10 w-10 border-2 rounded-full p-1 shadow-inner"
                                    src="./../../../../assets/iocns/google-plus-icon-svg.svg" />
                            </a>
                            <img class="h-10 w-10 border-2 rounded-full p-2 shadow-inner"
                                src="./../../../../assets/iocns/facebook-icon-svg.svg" />
                        </li>
                    } @else {
                        <li
                            class="bg-red-500 m-2 p-2 rounded-md font-semibold flex flex-row justify-center align-middle space-x-2">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate ">Logout</span>
                        </li>
                    }
                </ul>
                <!-- <span class="material-symbols-outlined bottom-0 pr-4 sticky float-right"
                    (click)="closeLeftSideNavBar()">
                    arrow_circle_left
                </span> -->
            </ul>
        </div>
    </div>
</div>