/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-input {
  background-color: azure;
  height: 2em;
  border-radius: .4em;
  outline-offset: .2em;
  min-width: 40%;
  max-width: 20em;
  width: 60%;
  text-align: center;
}

/** custom scrollbar **/
.app-scrollbar::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.app-scrollbar::-webkit-scrollbar {
  height: .5em;
  background-color: #f5f5f599;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d0d0d03b;
}



/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 4px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}